<!-- Navigation -->
<a id="home-button" href="index.html" class="btn btn-dark btn-lg toggle"><i class="fa fa-home"></i></a>

<!-- Create Playlist Form -->
<section id="create" class="create bg-primary">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Create a New Playlist</h1>
        <hr class="small" />
        <form class="create-form" action="/playlist/create">
          <span class="left">Name</span><input class="right" type="text" name="name" placeholder="Name your playlist" /><br />
          <span class="left">Description</span><input class="right" type="text" name="description" placeholder="Short Description" /><br />
          <!-- <span class="left">Filter1</span><input class="right" type="text" name="filter1" placeholder="Filter1" /><br />
          <span class="left">Filter2</span><input class="right" type="text" name="filter2" placeholder="Filter2" /><br /> -->
          <input class="btn btn-lg btn-light" type="button" value="Add Filters" />
          <input class="btn btn-lg btn-light" type="submit" value="Done" />
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Start Bootstrap</strong>
                </h4>
                <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>